{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros - Ferremas{% endblock %}
{% block content %}
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'core/images/Pasillos_de_Ferreteria1.png' %}" alt="Image placeholder" class="img-fluid rounded">
                
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Sobre Nosotros</h2>
            </div>
            <p>Somos una empresa dedicada al rubro de la ferretería, donde podrás encontrar todo lo que necesitas para tus proyectos de construcción, 
              reparación y mantenimiento. Ofrecemos una amplia variedad de herramientas, materiales de construcción, artículos de plomería, 
              electricidad, pintura y mucho más. Nos destacamos por brindar productos de calidad, atención personalizada y 
              soluciones eficientes para profesionales y aficionados del hogar.</p>            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Equipo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'core/images/person_4.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Esteban Soto</h3>
                  <p class="block-38-subheading">CEO/Fundador</p>
                </div>
                <div class="block-38-body">
                  <p>Mi nombre es Esteban, soy el fundador y creador de Ferremas. Estamos orgullosos de crear Ferremas ya que nos alegra poder cumplir con las necesidades de las personas.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'core/images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Jennifer Soto</h3>
                  <p class="block-38-subheading">Co-Fundador</p>
                </div>
                <div class="block-38-body">
                  <p>Mi nombre es Jennifer soy el Co-Fundador de Ferremas, junto a Esteban creamos ferremas para cumplir con las expectativas y necesidades de las personas. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'core/images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Antonia Hernandez</h3>
                  <p class="block-38-subheading">Jefe de Atencion al Cliente</p>
                </div>
                <div class="block-38-body">
                  <p>Hola, mi nombre es Antonia y soy la encargada de la atencion de los clientes de Ferremas, estamos siempre abierto a responder dudas, quejas o recomendaciones de los clientes.  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'core/images/person_3.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Fernando Romero</h3>
                  <p class="block-38-subheading">Jefe de Bodega</p>
                </div>
                <div class="block-38-body">
                  <p>Mi nombre es Fernando, soy el encargado de la bodega en Ferremas, nos encargamos de siempre entregar los productos en el mejor estado y correctamente. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="fa fa-fire"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Compromiso y pasion</h2>
              <p style="color: black">Cada miembro de nuestro equipo trabaja con dedicación y entusiasmo. No solo cumplimos con nuestras tareas: 
                nos involucramos, proponemos mejoras y buscamos siempre superar tus expectativas. 
                Nuestra pasión por lo que hacemos se refleja en cada detalle, desde la atención al cliente hasta la calidad del servicio.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="fa fa-cogs" ></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Adaptabilidad y resolucion</h2>
              <p style="color: black">Estamos preparados para enfrentar desafíos y adaptarnos a tus necesidades. 
                Buscamos soluciones rápidas y efectivas ante cualquier situación.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="fa fa-users"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Trabajo en equipo</h2>
              <p style="color:black">Fomentamos la colaboración y el respeto mutuo. Creemos que un equipo unido logra mejores resultados y crea un ambiente más positivo para todos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}