{% extends 'core/base.html' %}
{% block title %}Actualizar Pedidos{% endblock %}
{% block content %}

<style>
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
  }

  .form-container h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
  }

  label {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  }

  .btn-custom {
    background-color: #0d6efd;
    color: white;
    transition: 0.3s;
  }

  .btn-custom:hover {
    background-color: #0b5ed7;
  }

  .volver-link {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
</style>

<div class="form-container">
  <h2>Actualizar Pago</h2>

  {% if messages %}
    <div class="mb-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_pedido">Id del pedido</label>
      <input type="text" name="id_pedido" class="form-control" required value="{{ pedido.id_pedido }}" readonly>
    </div>

    <div class="mb-3">
      <label for="nombre_producto">Nombre de producto</label>
      <input type="text" name="nombre_producto" class="form-control" required value="{{ pedido.nombre_producto }}" readonly>
    </div>

    <div class="mb-3">
      <label for="marca_descripcion">Marca  </label>
      <input type="text" name="marca_descripcion" class="form-control" required value="{{ pedido.marca_descripcion }}" readonly>
    </div>
    <div class="mb-3">
      <label for="precio_producto">Precio producto</label>
      <input type="text" name="precio_producto" class="form-control" required value="{{ pedido.precio_producto }}" readonly>
    </div>
    <div class="mb-3">
      <label for="cantidad_producto">Cantidad producto</label>
      <input type="text" name="cantidad_producto" class="form-control" required value="{{ pedido.cantidad_producto }}" readonly>
    </div>
    <div class="mb-3">
      <label for="estado_pedido">Estado del pedido</label>
      <select name="estado_pedido" class="form-control" required>
        <option value="2" {% if pedido.estado_pedido == "Pagado" %}selected{% endif %}>Pagado</option>
        <option value="3" {% if pedido.estado_pedido == "Aprobado" %}selected{% endif %}>Aprobado</option>
        <option value="4" {% if pedido.estado_pedido == "Rechazado" %}selected{% endif %}>Rechazado</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="nombre_user">Nombre Cliente</label>
      <input type="text" name="nombre_user" class="form-control" required value="{{ pedido.nombre_user }}" readonly>
    </div>
    <button type="submit" class="btn btn-custom w-100 mt-3">Guardar Cambios</button>
    <a href="{% url 'home_vendedor' %}" class="volver-link">← Cancelar</a>
  </form>
</div>

{% endblock %}